* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 700px;
  height: 250px;
  background-color: aliceblue;
  font-size: 20px;
  color: black;
}
.box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
#previous {
  cursor: pointer;
  margin-right: 30px;
}
#next {
  cursor: pointer;
  margin-left: 30px;
}
